.container{
    width: 300px;
    margin: 40px auto;
    background-color: aquamarine;
    padding: 20px;
    border: 1px solid M#ccc;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba( 0, 0, 0, 1);
}
 
imput[type="number"]{
    width: 100%;
   height: 40px;
    padding: 10px;
    margin-bottom: 20px;
    border:1px solid #ccc;
}

.button{

width: 30%;
height: 40px;
font-size: 18px;
border: none;
background-color: aqua;
color: black;
cursor: pointer;
}
.button{
    display: flex;
    justify-content: space-between;
}

button:hover{
    background-color: bisque;

}
#result{
    font-size: 24px;
    font-weight: bold;
    margin-top:20px;
}